<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Individual Post</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h2>This post belongs to @<%= post.username %></h2>
    <small><%= post.id %></small>
    <h2>@<%= post.username %></h2>
    <h4><%= post.content %></h4>
    <a href="/posts">See All Post</a>
  </body>
</html>
