*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
#check{
    display: none;
}
.logo{
    position: absolute;
    top: 25px;
    left: 100px;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #ffffff;
    transition-delay: 0.2s;
}

body{
    background-image: url(Camera_BG.jpg);
    height: 100vh;
    background-size: cover;
}

.fa-solid, .fa-regular{
    color: white;
}

.fa-bars{
    font-size: 25px;
    position: absolute;
    top: 30px;
    transition-delay: 0.2s;
}
.fa-xmark{
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
}

.fa-bars, .fa-xmark:hover{
    text-shadow: 0 0 10px rgb(43, 0, 255);
    padding-left: 50px;
    cursor: pointer;
}

#side_box{
    position: fixed;
    left: -380px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 350px;
    height: 100vh;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
    transition-duration: 0.5s;
}

#side_box #logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}
#side_box #logo a{
    color: white;
    padding-left: 45px;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#side_box .menu{
    position: absolute;
    width: 100%;
    top: 100px;
}

#side_box .menu li{
    color: #ffffff;
    padding: 25px 45px;
    font-size: 21px;
    list-style:none ;
    display: flex;
    justify-content: baseline;
    cursor: hand;
}

#side_box .menu li a{
    color: white;
    padding-left:25px ;
}
#side_box .menu li:hover{
    box-shadow: 0 0 10px rgba(250, 250, 250, 0.3);
    text-shadow: 0 0 10px rgb(43, 0, 255);
    padding-left: 50px;
    cursor: pointer;
}
#side_box .menu li:active{
    background-color: grey;
}

footer{
    position: absolute;
    bottom: 55px;
    width: 100%;
}
footer ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0 50px;
}

.fa-brands{
    color: rgb(202, 202, 210);
    font-size: 20px;
    cursor: pointer;
}

.fa-brands:hover{
    text-shadow: 0 0 10px rgb(43, 0, 255);
    transform: scale(1.3);
}

#check:checked ~ #side_box{
    left: 0;
    transition-duration: 1s;
}
#check:checked + label .fa-bars{
    opacity: 0;
}
#check:checked + label .logo{
    opacity: 0;
}

#side_box:hover >label .fa-xmark{
    opacity: 1;
}

